<launch>
 <node pkg="rviz" type="rviz" name="rviz" args="-d $(find map_generator)/launch/default.rviz"/> 
 <node pkg="mockamap" type="mockamap_node" name="mockamap_node" output="screen">  
      <remap from="/mock_map" to="/map_generator/global_cloud"/>

      <param name="seed" type="int" value="127"/>
      <param name="update_freq" type="double" value="0.5"/>

      <!--  box edge length, unit meter-->
      <param name="resolution" type="double" value="0.1"/>

      <!-- map size unit meter-->
      <param name="x_length" value="15.0"/>
      <param name="y_length" value="20.0"/>
      <param name="z_length" value="20.0"/>

      <param name="type" type="int" value="1"/>
      <!-- 1 perlin noise parameters -->
      <!-- complexity:    base noise frequency,
                              large value will be complex
                              typical 0.0 ~ 0.5 -->
      <!-- fill:          infill persentage
                              typical: 0.4 ~ 0.0 -->
      <!-- fractal:       large value will have more detail-->
      <!-- attenuation:   for fractal attenuation
                              typical: 0.0 ~ 0.5 -->

      <param name="complexity"    type="double" value="0.05"/>
      <param name="fill"          type="double" value="0.12"/>
      <param name="fractal"       type="int"    value="1"/>
      <param name="attenuation"   type="double" value="0.1"/>
  </node>


</launch>

